@import 'tailwindcss';

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
	scrollbar-gutter: stable;
}

html {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
	@apply text-black;
}

@custom-variant dark (&:where(.dark, .dark *));

@theme {
	--color-black: oklch(0.2224 0.0196 248.73);
	--color-primary: oklch(0.5608 0.2284 26.8);
	--color-gray-90: oklch(0.967 0.0029 264.54); /* bg-secondary #F3F4F6 */
	--color-gray-80: oklch(0.9189 0 0);
	--color-gray-70: oklch(0.863 0.0119 264.5); /* border-light #CED2DA */
	--color-gray-60: oklch(0.7055 0.0234 256.76);
	--color-gray-50: oklch(0.5413 0.0337 257.79);
	--color-gray-30: oklch(0.368 0.0334 257.1);

	--animate-blink: blink 1s infinite;
	--animate-popover-slide-down-in: popover-slide-down-in 0.25s cubic-bezier(0.4,0,0.2,1) forwards;
	--animate-popover-slide-down-out: popover-slide-down-out 0.18s cubic-bezier(0.4,0,0.2,1) forwards;

	@keyframes popover-slide-down-in {
		0% {
			opacity: 0;
			transform: translateY(-24px);
		}
		100% {
			opacity: 1;
			transform: translateY(0);
		}
	}

	@keyframes popover-slide-down-out {
		0% {
			opacity: 1;
			transform: translateY(0);
		}
		100% {
			opacity: 0;
			transform: translateY(-24px);
		}
	}

	@keyframes blink {
		0%,
		100% {
			opacity: 1;
		}

		50% {
			opacity: 0;
		}
	}
}

.dark {
	@apply bg-black text-white;
}

@layer components {
	.grid-cols-auto-fill-300 {
		grid-template-columns: repeat(auto-fill, 300px);
	}
}

/* Media queries */
@custom-variant md (@media (max-width: 978px) and (min-width: 720px));
@custom-variant sm (@media (max-width: 720px) );
@custom-variant xs (@media (max-width: 663px));

/* DatePicker */
.rdp-root {
	--rdp-accent-color: var(--color-primary);
}

.dark .rdp-range_middle {
	background: var(--color-gray-30);
}

.dark .rdp-range_start {
	background: linear-gradient(90deg, transparent 50%, var(--color-gray-30) 50%);
}

.dark .rdp-range_end {
	background: linear-gradient(90deg, var(--color-gray-30) 50%, transparent 50%);
}

.dark .rdp-range_start.rdp-range_end {
	background: revert;
}
